@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tenor+Sans&display=swap");

:root {
  /* Colores */
  --first-color: #be9c79;
  --title-color: #fff;
  --text-color: #fff;
  --text-color-light: #ffffffc5;

  /* Fondo */
  --bg-dark: #121212;

  /* Tipografías  */
  --title-font: "Tenor Sans";
  --paragraph-font: "Figtree";

  /* Tamaños */
  --biggest-font-size: 2.5rem;
  --h1-font-size: 2.5rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.5rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-black: 900;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--normal-font-size);
  color: var(--text-color);
  background-repeat: no-repeat;
  font-family: var(--paragraph-font);
}

.main {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: clamp(2rem, 8vw, 3.5rem);
}

h2 {
  font-size: clamp(1.5rem, 6vw, 2.5rem);
}

p {
  font-size: clamp(1.25rem, 3.5vw, 1.5rem);
}

.text-break {
  display: inline;
}

/* ================= HEADER ================= */
.site-header {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 10;
}

.site-header .nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.site-header .nav .logo {
  font-family: var(--title-font);
  font-size: var(--biggest-font-size);
  color: var(--text-color-light);
  transition: 0.3s ease-in-out;
}

.site-header .nav .logo:hover {
  color: #fff;
}

.site-header .nav .nav-list {
  display: flex;
  gap: 2.5rem;
}

.site-header .nav .nav-list li {
  position: relative;
  color: var(--title-color);
  transition: 0.3s ease-in-out;
}

.site-header .nav .nav-list li a::after {
  content: "";
  position: absolute;
  background: var(--first-color);
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s ease-in;
}

.site-header .nav .nav-list li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.site-header .nav .nav-list li a {
  font-family: var(--paragraph-font);
  font-size: var(--normal-font-size);
  color: var(--text-color-light);
  transition: 0.3s ease-in-out;
}

.site-header .nav .nav-list li a:hover {
  color: #fff;
}

/* ================= HERO ================= */
.hero {
  width: 100%;
  min-height: 100svh;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 1.75rem;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  background-image: url(../img/background/fondo-hero.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.hero > * {
  position: relative;
  z-index: 1;
}

.hero .title-hero {
  font-family: var(--title-font);
  font-weight: normal;
  line-height: 1.25;
}

.hero .title-separator-img {
  margin-top: -25px;
}

.hero .hero-description {
  color: var(--text-color-light);
  font-family: var(--paragraph-font);
}

.hero .hero-button {
  display: inline-block;
  border: 1px solid #fff;
  padding: 1rem 1.75rem;
  font-size: var(--normal-font-size);
  font-family: var(--paragraph-font);
  letter-spacing: 3px;
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
}

.hero .hero-button:hover {
  background-color: var(--first-color);
  border: 1px solid var(--first-color);
}

/* ================= MENU ================= */
.menu {
  width: 100%;
  height: auto;
  position: relative;
  padding: 0 1.75rem 1.75rem 1.75rem;
  background: url(../img/background/fondo-menu.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu .menu-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  padding: 4rem 0;
}

.menu .menu-content .title-menu {
  color: #121212;
  font-family: var(--title-font);
  font-weight: 500;
}

.menu .menu-content .title-separator-img {
  margin-top: -0.5rem;
}

.menu .menu-content .menu-description {
  color: #0000009d;
  padding: 0 2.5rem;
  text-align: center;
  font-family: var(--paragraph-font);
}

.menu .product-container {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.75rem;
}

.menu .product-container .product-card {
  min-width: 300px;
  min-height: 300px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #e2e2e2;
  cursor: pointer;
}

.menu .product-container .product-card .product-imgs {
  position: relative;
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.menu .product-container .product-card .product-imgs .product-img {
  width: 100%;
  height: auto;
  transition: 0.3s ease-in-out;
}

.menu .product-container .product-card .product-imgs .product-img-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.menu .product-container .product-card:hover .product-imgs .product-img {
  opacity: 0;
}

.menu .product-container .product-card:hover .product-imgs .product-img-hover {
  opacity: 1;
  transform: scale(1.1);
}

.menu .product-container .product-card .product-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 15%;
  padding: 0 1rem;
  margin-top: 7px;
  gap: 7px;
}

.menu .product-container .product-card .product-info .product-name {
  color: #000000cf;
  font-family: var(--paragraph-font);
  font-weight: normal;
  font-size: 0.875rem;
}

.menu .product-container .product-card .product-info .product-price {
  color: #000000cf;
  font-size: 12px;
  font-family: "Inter";
  font-weight: bold;
}

/* ================= gallery ================= */

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.gallery .gallery-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  padding: 4rem 0;
}

.gallery .gallery-content .title-gallery {
  color: #121212;
  font-family: var(--title-font);
  font-weight: 500;
}

.gallery .gallery-content .title-separator-img {
  margin-top: -0.5rem;
}

.gallery .gallery-content .gallery-description {
  color: #0000009d;
  padding: 0 2.5rem;
  text-align: center;
  font-family: var(--paragraph-font);
}

.gallery .gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  width: 100%;
}

.gallery .gallery-container .img-container {
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.gallery .gallery-container .img-container .gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.gallery .gallery-container .img-container:hover .gallery-img {
  transform: scale(1.1);
}

/* Breakpoint tablet */
@media (min-width: 768px) {
  .text-break {
    display: block;
  }

  /* Header */
  .site-header .nav {
    flex-direction: row;
    padding: 1.5rem;
  }
}

/* Breakpoint desktop */
@media (min-width: 1024px) {
}

/* Extra large screens */
@media (min-width: 1440px) {
}
