@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Tenor+Sans&display=swap");

:root {
  /* Colores */
  --first-color: #be9c79;
  --title-color: #fff;
  --text-color: #fff;
  --text-color-light: #ffffffc5;

  /* Fondo */
  --bg-dark: #121212;

  /* Tipografías  */
  --title-font: "Tenor Sans";
  --paragraph-font: "Figtree";

  /* Tamaños */
  --biggest-font-size: 2.5rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-black: 900;
}

body {
  font-size: var(--normal-font-size);
  color: var(--text-color);
  background-repeat: no-repeat;
  font-family: var(--paragraph-font);
}

.main {
  display: flex;
  flex-direction: column;
}

/* ================= HEADER ================= */
.site-header {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 10;
}

.site-header .nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.site-header .nav .logo {
  font-family: var(--title-font);
  font-size: var(--biggest-font-size);
  color: var(--text-color-light);
  transition: 0.3s ease-in-out;
}

.site-header .nav .logo:hover {
  color: #fff;
}

.site-header .nav .nav-list {
  display: flex;
  gap: 2.5rem;
}

.site-header .nav .nav-list li {
  position: relative;
  color: var(--title-color);
  transition: 0.3s ease-in-out;
}

.site-header .nav .nav-list li a::after {
  content: "";
  position: absolute;
  background: var(--first-color);
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s ease-in;
}

.site-header .nav .nav-list li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.site-header .nav .nav-list li a {
  font-family: var(--paragraph-font);
  font-size: var(--normal-font-size);
  color: var(--text-color-light);
  transition: 0.3s ease-in-out;
}

.site-header .nav .nav-list li a:hover {
  color: #fff;
}

/* ================= HERO ================= */
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  background-image: url(../img/background/fondo-hero.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.hero > * {
  position: relative;
  z-index: 1;
}

.hero .title-hero {
  font-family: var(--title-font);
  font-size: var(--h1-font-size);
  font-weight: normal;
  line-height: 1.25;
}

.hero .title-hero .title-break {
  display: inline;
}

.hero .title-separator-img {
  margin-top: -25px;
}

.hero .hero-description {
  color: var(--text-color-light);
  font-family: var(--paragraph-font);
}

.hero .hero-button {
  display: inline-block;
  border: 1px solid #fff;
  padding: 1rem 1.75rem;
  font-size: var(--normal-font-size);
  font-family: var(--paragraph-font);
  letter-spacing: 3px;
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
}

.hero .hero-button:hover {
  background-color: var(--first-color);
  border: 1px solid var(--first-color);
}

/* Breakpoint tablet */
@media (min-width: 768px) {
  /* Header */
  .site-header .nav {
    flex-direction: row;
    padding: 1.5rem;
  }

  /* Hero */
  .hero .title-hero {
    font-size: 3.5rem;
  }
  .hero .title-hero .title-break {
    display: block;
  }
  .hero .hero-description {
    font-size: 1.5rem;
  }
}

/* Breakpoint desktop */
@media (min-width: 1024px) {
}

/* Extra large screens */
@media (min-width: 1440px) {
}
